.user_header{
    background: linear-gradient(-45deg,#00a15b,#8ac14c,#53a624);
    height:8rem;
    overflow: hidden;
}
.user_pic{
    display:block;
    margin:.75rem auto 0;
    width:3.05rem;
    height:3.05rem;
    border-radius:50%;
    border:3px solid #fff;
}
.user_header h3{
    text-align:center;
    color:#fff;
    font-size:.8rem;
    margin-top:.25rem;
}

.user_header  p{
    color:#fff;
    font-size:.6rem;
    text-align:center;
    margin:.25rem auto 0;
}

.set_list{
    background-color: #fff;
    margin-top:.5rem;
}

.set_list li{
    line-height:2.25rem;
    padding-left:60px;
    position: relative;
    border-bottom:1px solid #e0e0e0;
    font-size:.7rem;
}

.set_list li a{
    color:#333;
}

.set_list li span{
    position:absolute;
    right:.75rem;
    top:.8rem;
    width:.325rem;
    height:.65rem;
    background:url('../../static/images/icons.png') left -7.5rem no-repeat;
    background-size:11.5rem;
}