
.login_wrap{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
   background-color: #05c471;
   z-index:1000;
}
.login_title{
    width:7.875rem;
    height:1.85rem;
    margin:5rem auto 0;
}
.login_title img{
    width:100%;
}
.login_form{
    width:17.75rem;
    margin:3.5rem auto 0;
}
.form_group{
    width:17.75rem;
    height:5rem;
    background-color: #fff;
    border-radius:.2rem;
    overflow: hidden;
}
.form_group input{
    padding:0px;
    box-sizing:border-box;
    width:17.75rem;
    height:2.5rem;
    border:0px;
    outline:none;
    text-indent:1rem;
    font-size:.75rem;
}
.form_group input:first-child{
    border-bottom:1px solid #e0e0e0;
}
.input_sub{
    width:17.75rem;
    height:2.5rem;
    background-color: #07ed89;
    border-radius:.2rem;
    margin:.75rem auto 0;
    border:0px;
    font-size:1.05rem;
    color:#fff;
    outline:none;
}

.register{
    text-align:center;
    color:#fff;
    margin:1.5rem auto 0;
    font-size:.9rem;
}

.register::before{
    content: '';
    display:inline-block;
    width:5.2rem;
    border-bottom:1px solid #3fd795;
    position: relative;
    left:-10px;
    top:-0.3rem;    
}
.register::after{
    content: '';
    display:inline-block;
    width:5.2rem;
    border-bottom:1px solid #3fd795;
    position: relative;
    right:-10px;
    top:-0.3rem;    
}

.findpass{
    position: absolute;
    color:#fff;
    margin-top:1.5rem;
    font-size:.8rem;
    right:.75rem;
    bottom:1rem;
}

.login_wrap .back{
    position:absolute;
    left:.75rem;
    top:.75rem;
    width:.675rem;
    height:1.075rem;
    background:url('../../static/images/arrow.png') left top no-repeat;
    background-size:1.35rem;
}