.slide_con{
    height:8.9rem;
}

.slide_con img{
    width:100%;
}

/* 对轮播图做自定义样式 */
.swiper-pagination-bullet-active{
    background-color: #00a563;
}
.swiper-button-next:after, .swiper-button-prev:after{
    content:''
}
.swiper-button-next, .swiper-button-prev{
    width:0.675rem;
    height:1.075rem;
    background:url('../../static/images/arrow.png') no-repeat;
    background-size:1.35rem;
}
.swiper-button-next{
    background-position:right top;
}


/* 搜索框样式 */
.search_con{
    width:14rem;
    height:1.75rem;
    border-radius:.2rem;
    background-color:rgba(255,255,255,0.4);
    position: absolute;;
    top:.8rem;
    left:50%;
    margin-left:-7rem;
    display:flex;
    align-items:center;
    z-index:900;
}
.city{
    width:3.25rem;
    height:1.75rem;
    font-size:.3rem;
    color:#333;
    display: flex;
    align-items:center;
    text-indent:.575rem;
    background:url('../../static/images/icons.png') 2.2rem -8.7rem no-repeat;
    background-size:11.5rem;
}

.village{
    width:7rem;
    height:.75rem;
    border-left:.025rem solid #333;
    font-size:.3rem;
    color:#999;
    display: flex;
    align-items:center;
    text-indent:1.3rem;
    background:url('../../static/images/icons.png') .45rem -11.45rem no-repeat;
    background-size:11.5rem;
}

/*  城市列表的样式 */
.city_wrap{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    height:0%;
    background-color: #fff;
    overflow:auto;
    z-index:999;
    transition:all 300ms ease;
}

.city_wrap.slideUp{
    height:100%;
}

.city_title{
    height:2.75rem; 
    background-color: #f9f9f9;
    position: relative;
    z-index:998;
}

.city_title h3{
    line-height:2.75rem;
    font-size:18px;
    color:#394043;
    text-align:center;
    border-bottom:1px solid #ccc;
}
.group_con{
    position: absolute;
    width:100%;
    top:2.75rem;
    bottom:0;
    overflow:auto; 
}

.shutoff{
    position: absolute;
    left:1rem;
    top:.875rem;
    width:1rem;
    height:1rem;
    background:url('../../static/images/icons.png') left -15.5rem no-repeat;
    background-size:11.5rem;    
}

.city_group h4{
    line-height:2rem;
    background-color: #f6f6f6;
    border-bottom:1px solid #e2e2e2;
    font-size:13px;
    color: #a5a8aa;
    text-indent:1.25rem;
}
.city_group ul{
    padding-left:1.25rem;
    border-bottom:1px solid #e5e5e5;
}
.city_group ul li{
    line-height:2.9rem;
    font-size:16px;
    color:#252525;
    border-bottom:1px solid #e5e5e5;
}
.city_group ul li:last-child{
    border-bottom:0px;
}

/* 菜单的样式 */

.menu_con{
    background-color: #fff;
    margin-top:.5rem;
    display:flex;
}
.menu_con li{
    width:20%;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.menu_con li a{
    width:2.5rem;
    height:2.5rem;
    border-radius:50%;
    margin-top:1.1rem;
    background:url('../../static/images/icons.png') .7rem .65rem #e9fcf3 no-repeat;
    background-size:11.5rem;
}
.menu_con li h4{
    font-size:.6rem;
    color:#333;
    margin-top:.75rem;
    margin-bottom:.95rem;
}
.menu_con li:nth-child(2) a{
    background-position:-1.9rem .65rem;
}
.menu_con li:nth-child(3) a{
    background-position:-4.25rem .65rem;
}
.menu_con li:nth-child(4) a{
    background-position:-6.8rem .65rem;
}
.menu_con li:nth-child(5) a{
    background-position:-9.4rem .68rem;
}

/* 新房推荐的样式 */
.model{
    background-color: #fff;
    margin-top:.5rem;
    overflow: hidden;
}
.model h3{
    width:17.25rem;
    line-height:.75rem;
    font-size:.75rem;
    color:#333;
    text-indent:.5rem;
    border-left:.075rem solid #00a563;
    margin:.8rem auto 0;
}

.title_con{
    width:17.25rem;
    height:.75rem;
    margin:.8rem auto 0; 
}

.title_con h3{
    width:10rem;
    margin:0rem;
    float:left;
}

.title_con a{
    float:right;
    width:.375rem;
    height:.65rem;
    background:url('../../static/images/icons.png') left -7.5rem no-repeat;
    background-size:11.5rem;
}

.house_list{
    width:17.25rem;    
    overflow: hidden;
    margin:.8rem auto .55rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.house_list li{
    width:8.25rem;
    margin-bottom:.25rem;
}
.house_list li img{
    width:100%;
}
.house_list li h4{
    font-weight:bold;
    line-height:1.5rem;
    font-size:.7rem;
}

.detail{
    font-size: .7rem;
    color:#999;
    line-height:1rem;
}
.price{
    font-size: .7rem;
    color:#00a15b;
    line-height:1rem;
}
.tags span{
    display:inline-block;
    font-size:.6rem;
    color:#999;
    border:.025rem solid #999;
    padding:.075rem .25rem;
    border-radius:.2rem;
    margin-right:.25rem;
}

/* 首页问答的样式 */
.question_list{
    padding:0 .7rem .5rem;
    overflow: hidden;
}

.question_list li{
    border-bottom:1px solid #ddd;
    padding:.5rem 0;
    position: relative;
}
.q_title{
    font-size:14px;
    line-height:1.2rem;
    color:#333;
    background:url('../../static/images/icons.png') left -13.3rem no-repeat;
    background-size:11.5rem;
}
.q_title a{
    display:block;
    padding-left:1rem;
    width:85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#333;
}
.q_info{
    font-size:14px;
    line-height:1.2rem;
    color:#999; 
    text-indent:1rem;
}
.a_count{
    position: absolute;
    right:.3rem;
    top:.7rem;
    width:1.8rem;
    border-radius:.9rem;
    line-height:1.8rem;
    font-size:1rem;
    color:#666;
    background-color: #f4f4f4;
    text-align:center;
}

.mb120{
    margin-bottom:3rem;
}