body{
    background-color: #eeeff4;
}

.slide_con{
    height:8.9rem;
}

.slide_con img{
    width:100%;
}

.search_con{
    width:14rem;
    height:1.75rem;
    border-radius:.2rem;
    background-color:rgba(255,255,255,0.4);
    position: absolute;;
    top:.8rem;
    left:50%;
    margin-left:-7rem;
    display:flex;
    align-items:center;
}
.city{
    width:3.25rem;
    height:1.75rem;
    font-size:.3rem;
    color:#333;
    display: flex;
    align-items:center;
    text-indent:.575rem;
    background:url('../images/icons.png') 2.2rem -8.7rem no-repeat;
    background-size:11.5rem;
}

.village{
    width:7rem;
    height:.75rem;
    border-left:.025rem solid #333;
    font-size:.3rem;
    color:#999;
    display: flex;
    align-items:center;
    text-indent:1.3rem;
    background:url('../images/icons.png') .45rem -11.45rem no-repeat;
    background-size:11.5rem;
}
.menu_con{
    background-color: #fff;
    margin-top:.5rem;
    display:flex;
}
.menu_con li{
    width:20%;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.menu_con li a{
    width:2.5rem;
    height:2.5rem;
    border-radius:50%;
    margin-top:1.1rem;
    background:url('../images/icons.png') .7rem .65rem #e9fcf3 no-repeat;
    background-size:11.5rem;
}
.menu_con li h4{
    font-size:.6rem;
    color:#333;
    margin-top:.75rem;
    margin-bottom:.95rem;
}
.menu_con li:nth-child(2) a{
    background-position:-1.9rem .65rem;
}
.menu_con li:nth-child(3) a{
    background-position:-4.25rem .65rem;
}
.menu_con li:nth-child(4) a{
    background-position:-6.8rem .65rem;
}
.menu_con li:nth-child(5) a{
    background-position:-9.4rem .68rem;
}
.model{
    background-color: #fff;
    margin-top:.5rem;
    overflow: hidden;
}
.model h3{
    width:17.25rem;
    line-height:.75rem;
    font-size:.75rem;
    color:#333;
    text-indent:.5rem;
    border-left:.075rem solid #00a563;
    margin:.8rem auto 0;
}

.title_con{
    width:17.25rem;
    height:.75rem;
    margin:.8rem auto 0; 
}

.title_con h3{
    width:10rem;
    margin:0rem;
    float:left;
}

.title_con a{
    float:right;
    width:.375rem;
    height:.65rem;
    background:url('../images/icons.png') left -7.5rem no-repeat;
    background-size:11.5rem;
}

.house_list{
    width:17.25rem;    
    overflow: hidden;
    margin:.8rem auto .55rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.house_list li{
    width:8.25rem;
    margin-bottom:.25rem;
}
.house_list li img{
    width:100%;
}
.house_list li h4{
    font-weight:bold;
    line-height:1.5rem;
    font-size:.7rem;
}

.detail{
    font-size: .7rem;
    color:#999;
    line-height:1rem;
}
.price{
    font-size: .7rem;
    color:#00a15b;
    line-height:1rem;
}
.tags span{
    display:inline-block;
    font-size:.6rem;
    color:#999;
    border:.025rem solid #999;
    padding:.075rem .25rem;
    border-radius:.2rem;
    margin-right:.25rem;
}

.question_list{
    padding:0 .7rem .5rem;
    overflow: hidden;
}

.question_list li{
    border-bottom:1px solid #ddd;
    padding:.5rem 0;
    position: relative;
}
.q_title{
    font-size:14px;
    line-height:1.2rem;
    color:#333;
    background:url('../images/icons.png') left -13.3rem no-repeat;
    background-size:11.5rem;
}
.q_title a{
    display:block;
    text-indent:1rem;
    width:85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#333;
}
.q_info{
    font-size:14px;
    line-height:1.2rem;
    color:#999; 
    text-indent:1rem;
}
.a_count{
    position: absolute;
    right:.3rem;
    top:.7rem;
    width:1.8rem;
    border-radius:.9rem;
    line-height:1.8rem;
    font-size:1rem;
    color:#666;
    background-color: #f4f4f4;
    text-align:center;
}

footer{
    background-color: #fff;
    width:100%;
    height:2.5rem;
    position: fixed;
    left:0;
    bottom:0;
}

footer ul{
    display:flex;
}

footer li{
    width:33.3%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

footer li a{
    width:1.1rem;
    height:1.1rem;
    margin-top: .325rem;
    background:url('../images/icons.png') left -2.5rem no-repeat;
    background-size:11.5rem;
}

footer li:nth-child(2) a{
    background-position:-2.5rem -2.5rem;
}

footer li:nth-child(3) a{
    background-position:-5rem -2.5rem;
}
footer li h4{
    font-size:.6rem;
    color:#8f949b;
    margin:.1rem 0 .2rem;
}
footer .active h4{
    color:#00a15b;
}

footer li.active:nth-child(1) a{
    background-position:0 -5rem;
}

footer li.active:nth-child(2) a{
    background-position:-2.5rem -5rem;
}
footer li.active:nth-child(3) a{
    background-position:-5rem -5rem;
}

.mb120{
    margin-bottom:3rem;
}


/*  city.html 的样式：  */
.city_wrap{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    height:100%;
    background-color: #fff;
    overflow:auto;
    z-index:999;
    transition:all 300ms ease;
}

.city_wrap.slideUp{
    height:100%;
}

.city_title{
    height:2.75rem; 
    background-color: #f9f9f9;
    position: relative;
    z-index:998;
}

.city_title h3{
    line-height:2.75rem;
    font-size:18px;
    color:#394043;
    text-align:center;
    border-bottom:1px solid #ccc;
}
.group_con{
    position: absolute;
    width:100%;
    top:2.75rem;
    bottom:0;
    overflow:auto; 
}

.shutoff{
    position: absolute;
    left:1rem;
    top:.875rem;
    width:1rem;
    height:1rem;
    background:url('../images/icons.png') left -15.5rem no-repeat;
    background-size:11.5rem;    
}

.city_group h4{
    line-height:2rem;
    background-color: #f6f6f6;
    border-bottom:1px solid #e2e2e2;
    font-size:13px;
    color: #a5a8aa;
    text-indent:1.25rem;
}
.city_group ul{
    padding-left:1.25rem;
    border-bottom:1px solid #e5e5e5;
}
.city_group ul li{
    line-height:2.9rem;
    font-size:16px;
    color:#252525;
    border-bottom:1px solid #e5e5e5;
}
.city_group ul li:last-child{
    border-bottom:0px;
}

/*  list.html 的样式：  */
.header_bar{
    height:2rem;
    background-color: #fff;
    position: relative;
}
.header_bar .back{
    position: absolute;
    left:.8rem;
    top:.48rem;
    width:.675rem;
    height:1.075rem;
    background:url('../images/arrow.png') left top no-repeat;
    background-size:1.35rem;
}
.header_bar h3{
    text-align:center;
    line-height:2rem;
    font-size:.8rem;
}
.list{
    overflow: hidden;
    
}
.list li{
    display:flex;
    background-color: #fff;
    margin:.5rem 0;
    padding:.5rem 0;
}
.list li a{
    width:8.25rem;
    height:4.625rem;
    margin-left:1rem;
    border-radius:.2rem;
    overflow: hidden;
}

.list li a img{
    width:100%;
}

.list li .detail_list{
    margin-left:.7rem;
    flex-grow:1;
}

.detail_list h4{
    font-weight:bold;
    line-height:.7rem;
    font-size:.7rem;
    margin-bottom:.25rem;
}

.detail_list .detail{
    margin-bottom:.25rem;
}

/* detail.html 的样式 */
.header_wrap{
    position: relative;
    height:10rem;
}

.header_wrap img{
    width:100%;
}

.header_wrap .back{
    position:absolute;
    left:.75rem;
    top:.75rem;
    width:.675rem;
    height:1.075rem;
    background:url('../images/arrow.png') left top no-repeat;
    background-size:1.35rem;
}
.header_wrap .has_read{
    position: absolute;
    right:.75rem;
    bottom:.75rem;
    width:2.5rem;
    height:2.5rem;
    border-radius:.2rem;
    background-color: rgba(255,255,255,0.6);
}
.header_wrap .has_read em{
    display:block;
    text-align:center;
    font-size:1rem;
    font-style:normal;
    color:#00a15b;
    margin-top:.25rem;
}
.header_wrap .has_read span{
    display:block;
    text-align:center;
    font-size:.6rem;
    color:#666
}
.center_wrap{
    margin-top:.5rem;
    background-color: #fff;
    overflow: hidden;
}
.detail_name{
    margin:.5rem 1rem .2rem;
    font-size:1rem;
}
.center_wrap .tags{
    margin:0 1rem;
}
.info_list{
    margin:.5rem 1rem;
    display:flex;
    flex-wrap:wrap;
}
.info_list li{
    width:50%;
    font-size:.7rem;
    line-height:1.3rem;
    color:#999;
}
.info_list li em{
    font-style:normal;
    color:#666
}
.info_list li:nth-child(1) em{
    color:#f80;
}
.info_list li:nth-child(2) em{
    color:#f80;
}

.map_wrap{
    background-color: #fff;
    margin-top:.5rem;
    margin-bottom:2.5rem;
    overflow: hidden;
}
.map_title{
    margin:.5rem 1rem .2rem;
    font-size:.8rem; 
}
.position{
    margin:.2rem 1rem .5rem;
    font-size:.7rem;
    color:#999;
}

.map_show{
    width:100%;
    height:9rem;
    margin-bottom:.5rem;
}
.map_show img{
    display:block;
    width:100%;
}

/* login.html的样式 */
.login_wrap{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
   background-color: #05c471;
}
.login_title{
    width:7.875rem;
    height:1.85rem;
    margin:5rem auto 0;
}
.login_title img{
    width:100%;
}
.login_form{
    width:17.75rem;
    margin:3.5rem auto 0;
}
.form_group{
    width:17.75rem;
    height:5rem;
    background-color: #fff;
    border-radius:.2rem;
    overflow: hidden;
}
.form_group input{
    padding:0px;
    box-sizing:border-box;
    width:17.75rem;
    height:2.5rem;
    border:0px;
    outline:none;
    text-indent:1rem;
    font-size:.75rem;
}
.form_group input:first-child{
    border-bottom:1px solid #e0e0e0;
}
.input_sub{
    width:17.75rem;
    height:2.5rem;
    background-color: #07ed89;
    border-radius:.2rem;
    margin:.75rem auto 0;
    border:0px;
    font-size:1.05rem;
    color:#fff;
    outline:none;
}

.register{
    text-align:center;
    color:#fff;
    margin:1.5rem auto 0;
    font-size:.9rem;
}

.register::before{
    content: '';
    display:inline-block;
    width:5.2rem;
    border-bottom:1px solid #3fd795;
    position: relative;
    left:-10px;
    top:-0.3rem;    
}
.register::after{
    content: '';
    display:inline-block;
    width:5.2rem;
    border-bottom:1px solid #3fd795;
    position: relative;
    right:-10px;
    top:-0.3rem;    
}

.findpass{
    position: absolute;
    color:#fff;
    margin-top:1.5rem;
    font-size:.8rem;
    right:.75rem;
    bottom:1rem;
}

.login_wrap .back{
    position:absolute;
    left:.75rem;
    top:.75rem;
    width:.675rem;
    height:1.075rem;
    background:url('../images/arrow.png') left top no-repeat;
    background-size:1.35rem;
}

/* user.html 的样式 */
.user_header{
    background: linear-gradient(-45deg,#00a15b,#8ac14c,#53a624);
    height:8rem;
    overflow: hidden;
}
.user_pic{
    display:block;
    margin:.75rem auto 0;
    width:3.05rem;
    height:3.05rem;
    border-radius:50%;
    border:3px solid #fff;
}
.user_header h3{
    text-align:center;
    color:#fff;
    font-size:.8rem;
    margin-top:.25rem;
}

.user_header  p{
    color:#fff;
    font-size:.6rem;
    text-align:center;
    margin:.25rem auto 0;
}

.set_list{
    background-color: #fff;
    margin-top:.5rem;
}

.set_list li{
    line-height:2.25rem;
    padding-left:60px;
    position: relative;
    border-bottom:1px solid #e0e0e0;
    font-size:.7rem;
}

.set_list li a{
    color:#333;
}

.set_list li span{
    position:absolute;
    right:.75rem;
    top:.8rem;
    width:.325rem;
    height:.65rem;
    background:url('../images/icons.png') left -7.5rem no-repeat;
    background-size:11.5rem;
}


/* search.html */
.search_bar{
    height:2rem;
    background-color: #fff;
    display:flex;
    align-items:center;
    justify-content: center;
}

.search_bar .search{
    width:3.75rem;
    height:1.5rem;
    border:1px solid #ddd;
    outline:none;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}

.search_bar .search_input{
    padding:0px;
    outline:none;
    box-sizing:border-box;
    border:1px solid #ddd;
    width:10.5rem;
    height:1.5rem;
    text-indent:.5rem;
}
.search_bar .search_btn{
    outline:none;
    box-sizing:border-box;
    width:2.5rem;
    height:1.5rem;
    border:0px;
    background-color: #ccc;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}

.quiz_list{
    padding:0;
}

.quiz_list li{
    background-color: #fff;
    padding:.6rem .5rem;
    margin:.5rem 0;
    border-bottom:0;
}

.quiz_list .a_count{
    top:.9rem;
}


/* question.html 样式 */
.question_con{
    background: linear-gradient(-45deg,#00a15b,#8ac14c,#53a624);
    position: relative;
    overflow: hidden;
}
.question_con h3{
    font-size:.8rem;
    padding:.6rem .75rem 0;
    color:#fff;
    line-height:1.2rem;
}
.question_con .q_info{
    text-indent:0px;
    padding:.2rem .75rem .4rem;
    color:#fff;
    font-size:12px;
}

.author_about{
    position: relative;
    margin-bottom:.5rem;
}

.author_about .answer_btn{
    position: absolute;
    right:.75rem;
    bottom:0;
    width:3rem;
    height:1.25rem;
    border:1px solid #fff;
    color:#fff;
    font-size:12px;
    text-align:center;
    line-height:1.25rem;
    border-radius:4px;
}

.answer_form{
    width:17.25rem;
    height:0;
    overflow: hidden;
    margin:.5rem auto;
    transition:all 300ms ease;
}

.answer_form_show{
    height:5.2rem;
}

.answer_form textarea{
    margin:0px;
    padding:10px;
    box-sizing:border-box;
    width:17.25rem;
    height:3rem;
    border-radius:4px;
    border:1px solid #ddd;
    outline: none;
}

.answer_form a{
    display:block;
    width:3rem;
    height:1.25rem;
    background-color: #07ed89;
    color:#fff;
    font-size:12px;
    text-align:center;
    line-height:1.25rem;
    border-radius:4px;
    margin-top:.25rem;
}
.answer_con{
    margin-top:.5rem;
    margin-bottom:2.5rem;
    background-color: #fff;
    overflow: hidden;
}
.answer_con h3{
    font-size:.8rem;
    padding:.5rem .75rem .25rem;
    border-bottom:1px solid #ddd;
}
.answer_list{
    display:flex;
    padding:.7rem 0;
    overflow: hidden;
    border-bottom:1px solid #ddd;
}

.answer_list img{
    width:2rem;
    height:2rem;
    margin:0 .5rem 0 .75rem;
}

.answer_detail{
    width:14rem;
    display:flex;
    flex-grow:1;
    flex-direction:column;
}

.author{
    line-height:12px;
    margin-bottom:.375rem;
}

.author span{
    font-size:12px;
    color:#666;
    padding-right:.5rem;
    font-weight:bold;    
}
.author em{
    font-style:normal;
    font-size:12px;
    color:#999;
}
.answer_detail p{
    font-style:normal;
    font-size:.7rem;
    margin-right:.75rem;
    line-height:1rem;
    color:#333;
}

.chart_wrap{
    margin-top:.5rem;
    background-color: #fff;
    overflow: hidden;
}

.chart_title{
    text-align:center;
    font-size:.8rem;
    line-height:2rem;
    font-weight:bold;
    color:#666;
}

.chart_con{
    width:96%;
    height:11rem;
    overflow: hidden;
    margin:.5rem auto;
    background-color: #fff;
}

